BASE_URL=https://light-it-qa-challenge.vercel.app
API_URL=https://qa-challenge-backend.vercel.app/api
PATIENT_EMAIL=your-email@qa-challenge.com
PATIENT_PASSWORD="your-password"

# Optional overrides
RESCHEDULE_DATE=2026-12-01
RESCHEDULE_SLOT=09:00
BOOK_DOCTOR_NAME=Ana García
BOOK_DATE=2027-01-01
BOOK_SLOT=09:00
